@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,700;1,400&family=Playfair+Display:wght@600&display=swap');

body {
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
}

h1, h2, h3 {
    font-family: 'Playfair Display', Diderot, serif;
}

.site-header {
    height: 80px;
    max-height: 80px;
    font-family: 'Playfair Display';
    }
    
.site-title {
    font-size: 24px !important;
    font-size: 31px !important;
    }

 .main-header {
    height: 80px;
    max-height: 80px;
    font-family: 'Playfair Display';
    }   

 .nav-list {
    font-size: 16px !important ;
    font-family: 'Playfair Display';
    }

.side-bar{background-color: white;}
a{color:rgb(0, 0, 0);}


