@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,700;1,400&family=Playfair+Display:wght@600&display=swap');

body {
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
}

h1, h2, h3 {
    font-family: 'Playfair Display', Diderot, serif;
}

.side-bar{background-color: white;}
a{color:#002883;}


