---
---

@import "{{ site.theme }}";
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,400;0,700;1,400&family=Playfair+Display:wght@600&display=swap');

:root {
    --underline-color: #ffc5c5;
}

body {
    font-family: 'Work Sans', Helvetica, Arial, sans-serif;
    font-size: 18px;
    color: #313131;
}

h1, h2 {
    font-family: 'Playfair Display', Diderot, serif;
}

h2:after {
    position: relative;
    display: block;
    height: 10px;
    width: 28%;
    left: 0;
    bottom: 6px;
    margin-bottom: -10px;
    content: "";
    background: var(--underline-color);
    z-index: -1;
}

h3 {
    font-size: 18px;
    font-family: 'Work Sans', Helvetica, Arial, sans-serif;
    font-style: italic;
    font-weight: 400;
    margin-top: 25px;
    margin-bottom: 5px;
}

.site-header {
    height: 80px;
    max-height: 80px;
    font-family: 'Playfair Display';
    }
    
.site-title {
    font-size: 24px !important;
    font-size: 31px !important;
    }

@media (min-width: 50rem) {
.main-header {
    display: none;
}
}

 .nav-list .nav-list-item {
    font-size: 16px !important ;
    font-family: 'Playfair Display';
    }

.side-bar{background-color: white;}
a{color: black;}

.icon{
    color: black;
}

h1:after {
    height: 14px;
    background: var(--underline-color);
    position: relative;
    width: 10em;
    content: " ";
    left: 0;
    display: block;
    bottom: 9px;
    margin-bottom: -14px;
    z-index: -1;
}

h2 {
    margin-top: 1.5em;
}

a {
    color: #bd3333;
}

a:hover, a:focus {
    color: #ffc5c5;
    font-weight: 400;
}

@media (min-width: 960px) {
section {
    float: none;
    width: 600px;
}
}

footer {
    position: static;
    float: none;
}

p, ul, ol, table, pre, dl {
    margin: 0 0 10px;
}